/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 form {
  background: #EEE;
  padding-top: 2%;
  padding-bottom: 2%;
  border: 3px solid #428bca;
 }

 div.checklist-row { margin-left: 5%; margin-top: 2%; font-size: 16px;}

 div.checklist-line { border-bottom: 2px solid black; margin-left: 24%;}

 div#error_explanation { margin: 0 auto; color: red; font-weight: bold;}

 div.panel-primary { padding-bottom: 10%;}

 p.inset { margin-left: 2%;}

 table#vitals { width: 30%; margin-left: 2%;}

 table#vitals td { border-top: none;}

 div#resources { margin-top: 2%; background: #EEE; color: black;}

 div#resources ul { list-style: none;}

 div#resources li { padding: 3%;}

 div.checklist-group { margin-left: 5%; margin-top: 2%; font-size: 18px; text-align: center; background: #EEE; padding: 0.5%; font-weight: bold;}