/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 button.right { float: right; margin-right: 22%; margin-top: 0.5%;}

 form {
  padding-top: 20px;
  border: dashed 1px green;
 }

 div.checklist-row { margin-left: 5%; margin-top: 2%; font-size: 16px;}

 div.checklist-line { border-bottom: 2px solid black; margin-left: 24%;}
